<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://192.168.120.216/upload/uploads/Payload.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>http://192.168.120.216/xs/Icon-58.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>http://192.168.120.216/xs/Icon-120.png</string>
</dict>